@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@ng-select/ng-select/themes/default.theme.css";

.custom-select .ng-select-container {
    background-color: rgb(229 231 235) !important;
    border: none !important;
    min-height: 40px !important;
}
